.poppins {
    font-family: Poppins, sans-serif
}

.fjalla {
    font-family: 'Fjalla One', sans-serif
}

.background {
    height: auto;
    max-width: 775px;
    min-width: 310px
}

.seta {
    width: 20%
}

.icone-situacao {
    height: auto;
    margin-top: 0;
    width: 70%;
    margin-left: 2em
}

.temperatura {
    color: #6a6a6a!important;
    font-size: 3em!important;
    padding-top: .05em;
    padding-bottom: .1em
}

.termometro {
    float: left;
    height: auto;
    padding-left: 1em;
    margin-top: 0;
    width: 2em
}

.temperatura-m {
    color: #007782!important;
    font-size: 1em!important;
    margin-top: -1.5em
}

.descricao {
    color: #63a7ad!important;
    font-family: 'Fjalla One', sans-serif;
    font-size: .75em!important;
    font-weight: 400;
    margin-top: 0;
    padding: .15em 0;
    text-align: left
}

.estacao-descricao {
    color: #63a7ad!important;
    font-family: 'Fjalla One', sans-serif;
    font-size: .8em!important;
    font-weight: 400;
    margin-top: -.5em;
    text-align: center!important
}

.descricao-chuva {
    color: #767676!important;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400
}

.intensidade-chuva {
    color: #27808a!important;
    font-size: .8em!important;
    font-weight: 400;
    margin-right: 0;
    margin-left: -1em;
    padding: .1em 0;
    text-align: right
}

.unidade {
    color: #27808a!important;
    font-size: .6em!important;
    font-weight: 400;
    padding: .2em 0;
    text-align: right
}

.aviso {
    background-color: #808200;
    border-radius: .2em 0 0 .2em;
    color: #fff!important;
    font-size: 1.2em!important;
    font-weight: 400;
    letter-spacing: .1em;
    margin-bottom: .5em;
    display: inline;
    margin-right: -20px;
    padding: .25em 1em!important
}

.logo {
    display: inline;
    margin-top: 20px
}

.margin-top-desc {
    margin-top: .5em
}

.margin-top-max-min {
    margin-top: -1.5em
}

.margin-top-aviso {
    margin-top: 0
}

@media (max-width:310px) {
    .seta {
        width: 8%
    }
    .icone-situacao {
        height: auto;
        margin-top: 0;
        width: 70%;
        margin-left: 2em
    }
    .temperatura {
        color: #6a6a6a!important;
        font-size: 3.5em!important;
        padding-top: .05em;
        padding-bottom: .1em
    }
    .termometro {
        float: left;
        height: auto;
        padding-left: 1em;
        margin-top: 0;
        width: 2em
    }
    .temperatura-m {
        color: #007782!important;
        font-size: 1em!important;
        margin-top: -1.5em
    }
    .descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: .75em!important;
        font-weight: 400;
        margin-top: 0;
        padding: .15em 0;
        text-align: left
    }
    .estacao-descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: .8em!important;
        font-weight: 400;
        margin-top: -.5em;
        text-align: center!important
    }
    .descricao-chuva {
        color: #767676!important;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400
    }
    .intensidade-chuva {
        color: #27808a!important;
        font-size: .85em!important;
        font-weight: 400;
        margin-right: 0;
        margin-left: -1em;
        padding: .1em 0;
        text-align: right
    }
    .unidade {
        color: #27808a!important;
        font-size: .6em!important;
        font-weight: 400;
        padding: .2em 0;
        text-align: right
    }
    .aviso {
        background-color: #808200;
        border-radius: .2em 0 0 .2em;
        color: #fff!important;
        font-size: 1.2em!important;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: .5em;
        display: inline;
        margin-right: -20px;
        padding: .25em 1em!important
    }
    .logo {
        display: inline;
        margin-top: 20px
    }
    .margin-top-desc {
        margin-top: .9em
    }
    .margin-top-max-min {
        margin-top: -1.5em
    }
    .margin-top-aviso {
        margin-top: 0
    }
}

@media (min-width:310px) {
    .seta {
        width: 10%
    }
    .icone-situacao {
        height: auto;
        margin-top: 0;
        width: 70%;
        margin-left: 2em
    }
    .temperatura {
        color: #6a6a6a!important;
        font-size: 3.5em!important;
        padding-top: .05em;
        padding-bottom: .1em
    }
    .termometro {
        float: left;
        height: auto;
        padding-left: 1em;
        margin-top: 0;
        width: 2em
    }
    .temperatura-m {
        color: #007782!important;
        font-size: 1em!important;
        margin-top: -1.5em
    }
    .descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: .75em!important;
        font-weight: 400;
        margin-top: 0;
        padding: .15em 0;
        text-align: left
    }
    .estacao-descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: .8em!important;
        font-weight: 400;
        margin-top: -.5em;
        text-align: center!important
    }
    .descricao-chuva {
        color: #767676!important;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400
    }
    .intensidade-chuva {
        color: #27808a!important;
        font-size: .85em!important;
        font-weight: 400;
        margin-right: 0;
        margin-left: -1em;
        padding: .1em 0;
        text-align: right
    }
    .unidade {
        color: #27808a!important;
        font-size: .6em!important;
        font-weight: 400;
        padding: .2em 0;
        text-align: right
    }
    .aviso {
        background-color: #808200;
        border-radius: .2em 0 0 .2em;
        color: #fff!important;
        font-size: 1.2em!important;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: .5em;
        display: inline;
        margin-right: -20px;
        padding: .25em 1em!important
    }
    .logo {
        display: inline;
        margin-top: 20px
    }
    .margin-top-desc {
        margin-top: .9em
    }
    .margin-top-max-min {
        margin-top: -1.5em
    }
    .margin-top-aviso {
        margin-top: 0
    }
}

@media (min-width:350px) {
    .seta {
        width: 20%
    }
    .icone-situacao {
        height: auto;
        margin-top: 0;
        width: 70%;
        margin-left: 2em
    }
    .temperatura {
        color: #6a6a6a!important;
        font-size: 3.5em!important;
        padding-top: .05em;
        padding-bottom: .1em
    }
    .termometro {
        float: left;
        height: auto;
        padding-left: 1em;
        margin-top: 0;
        width: 2em
    }
    .temperatura-m {
        color: #007782!important;
        font-size: 1.2em!important;
        margin-top: -1.5em
    }
    .descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: .8em!important;
        font-weight: 400;
        margin-top: .5em;
        padding: .15em 0;
        text-align: left
    }
    .estacao-descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: .8em!important;
        font-weight: 400;
        margin-top: -.5em;
        text-align: center!important
    }
    .descricao-chuva {
        color: #767676!important;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400
    }
    .intensidade-chuva {
        color: #27808a!important;
        font-size: .9em!important;
        font-weight: 400;
        margin-right: 0;
        margin-left: -1em;
        padding: .1em 0;
        text-align: right
    }
    .unidade {
        color: #27808a!important;
        font-size: .6em!important;
        font-weight: 400;
        padding: .2em 0;
        text-align: right
    }
    .aviso {
        background-color: #808200;
        border-radius: .2em 0 0 .2em;
        color: #fff!important;
        font-size: 1.4em!important;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: .5em;
        display: inline;
        margin-right: -20px;
        padding: .25em 1em!important
    }
    .logo {
        display: inline;
        margin-top: 20px
    }
    .margin-top-desc {
        margin-top: 0
    }
    .margin-top-max-min {
        margin-top: -1em
    }
    .margin-top-aviso {
        margin-top: 0
    }
}

@media (min-width:370px) {
    .seta {
        width: 10%
    }
    .icone-situacao {
        height: auto;
        margin-top: 0;
        width: 70%;
        margin-left: 2em
    }
    .temperatura {
        color: #6a6a6a!important;
        font-size: 4em!important;
        padding-top: .05em;
        padding-bottom: .1em
    }
    .termometro {
        float: left;
        height: auto;
        padding-left: 1em;
        margin-top: 0;
        width: 2em
    }
    .temperatura-m {
        color: #007782!important;
        font-size: 1.5em!important;
        margin-top: -1.5em
    }
    .descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: .8em!important;
        font-weight: 400;
        margin-top: .2em;
        padding: .15em 0;
        text-align: left
    }
    .estacao-descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1em!important;
        font-weight: 400;
        margin-top: -.5em;
        text-align: center!important
    }
    .descricao-chuva {
        color: #767676!important;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400
    }
    .intensidade-chuva {
        color: #27808a!important;
        font-size: 1em!important;
        font-weight: 400;
        margin-right: 0;
        margin-left: -1em;
        padding: .1em 0;
        text-align: right
    }
    .unidade {
        color: #27808a!important;
        font-size: .6em!important;
        font-weight: 400;
        padding: .2em 0;
        text-align: right
    }
    .aviso {
        background-color: #808200;
        border-radius: .2em 0 0 .2em;
        color: #fff!important;
        font-size: 1.5em!important;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: .5em;
        display: inline;
        margin-right: -20px;
        padding: .25em 1em!important
    }
    .logo {
        display: inline;
        margin-top: 20px
    }
    .margin-top-desc {
        margin-top: 1.5em
    }
    .margin-top-max-min {
        margin-top: -1em
    }
    .margin-top-aviso {
        margin-top: .5em
    }
}

@media (min-width:440px) {
    .icone-situacao {
        height: auto;
        margin-top: 0;
        width: 70%;
        margin-left: 2em
    }
    .temperatura {
        color: #6a6a6a!important;
        font-size: 4em!important;
        padding-top: .05em;
        padding-bottom: .1em
    }
    .termometro {
        float: left;
        height: auto;
        padding-left: 1em;
        margin-top: 0;
        width: 2.5em
    }
    .temperatura-m {
        color: #007782!important;
        font-size: 1.5em!important;
        margin-top: -.5em
    }
    .descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1em!important;
        font-weight: 400;
        margin-top: .2em;
        padding: .15em 0;
        text-align: left
    }
    .estacao-descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1em!important;
        font-weight: 400;
        margin-top: -.5em;
        text-align: center!important
    }
    .descricao-chuva {
        color: #767676!important;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400
    }
    .intensidade-chuva {
        color: #27808a!important;
        font-size: 1em!important;
        font-weight: 400;
        margin-right: 0;
        margin-left: -1em;
        padding: .1em 0;
        text-align: right
    }
    .unidade {
        color: #27808a!important;
        font-size: .6em!important;
        font-weight: 400;
        padding: .2em 0;
        text-align: right
    }
    .aviso {
        background-color: #808200;
        border-radius: .2em 0 0 .2em;
        color: #fff!important;
        font-size: 1.5em!important;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: .5em;
        display: inline;
        margin-right: -20px;
        padding: .25em 1em!important
    }
    .logo {
        display: inline;
        margin-top: 35px
    }
    .margin-top-desc {
        margin-top: 2em
    }
    .margin-top-max-min {
        margin-top: -1em
    }
    .margin-top-aviso {
        margin-top: 1.5em
    }
}

@media (min-width:500px) {
    .icone-situacao {
        height: auto;
        margin-top: 0;
        width: 70%;
        margin-left: 2em
    }
    .temperatura {
        color: #6a6a6a!important;
        font-size: 5em!important;
        padding-top: .05em;
        padding-bottom: .1em
    }
    .termometro {
        float: left;
        height: auto;
        padding-left: 1em;
        margin-top: 0;
        width: 3em
    }
    .temperatura-m {
        color: #007782!important;
        font-size: 1.5em!important;
        margin-top: -.5em
    }
    .descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.2em!important;
        font-weight: 400;
        margin-top: .2em;
        padding: .15em 0;
        text-align: left
    }
    .estacao-descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.2em!important;
        font-weight: 400;
        margin-top: -.5em;
        text-align: center!important
    }
    .descricao-chuva {
        color: #767676!important;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400
    }
    .intensidade-chuva {
        color: #27808a!important;
        font-size: 1.3em!important;
        font-weight: 400;
        margin-right: 0;
        margin-left: -1em;
        padding: .1em 0;
        text-align: right
    }
    .unidade {
        color: #27808a!important;
        font-size: .6em!important;
        font-weight: 400;
        padding: .2em 0;
        text-align: right
    }
    .aviso {
        background-color: #808200;
        border-radius: .2em 0 0 .2em;
        color: #fff!important;
        font-size: 1.5em!important;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: .5em;
        display: inline;
        margin-right: -20px;
        padding: .25em 1em!important
    }
    .logo {
        display: inline;
        margin-top: 35px
    }
    .margin-top-desc {
        margin-top: 2em
    }
    .margin-top-max-min {
        margin-top: -1em
    }
    .margin-top-aviso {
        margin-top: 1em
    }
}

@media (min-width:558px) {
    .icone-situacao {
        height: auto;
        margin-top: 0;
        width: 70%;
        margin-left: 2em
    }
    .temperatura {
        color: #6a6a6a!important;
        font-size: 5em!important;
        padding-top: .05em;
        padding-bottom: .1em
    }
    .termometro {
        float: left;
        height: auto;
        padding-left: 1em;
        margin-top: -20px;
        width: 3.5em
    }
    .temperatura-m {
        color: #007782!important;
        font-size: 2em!important;
        margin-top: -1em
    }
    .descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.5em!important;
        font-weight: 400;
        margin-top: .1em;
        padding: .15em 0;
        text-align: left
    }
    .estacao-descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.2em!important;
        font-weight: 400;
        margin-top: -.5em;
        text-align: center!important
    }
    .descricao-chuva {
        color: #767676!important;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400
    }
    .intensidade-chuva {
        color: #27808a!important;
        font-size: 1.7em!important;
        font-weight: 400;
        margin-right: 0;
        margin-left: -1em;
        padding: .1em 0;
        text-align: right
    }
    .unidade {
        color: #27808a!important;
        font-size: .6em!important;
        font-weight: 400;
        padding: .2em 0;
        text-align: right
    }
    .aviso {
        background-color: #808200;
        border-radius: .2em 0 0 .2em;
        color: #fff!important;
        font-size: 2em!important;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: .5em;
        display: inline;
        margin-right: -20px;
        padding: .25em 1em!important
    }
    .logo {
        display: inline;
        margin-top: 35px
    }
    .margin-top-desc {
        margin-top: 1em
    }
    .margin-top-max-min {
        margin-top: -1em
    }
    .margin-top-aviso {
        margin-top: 1em
    }
}

@media (min-width:590px) {
    .icone-situacao {
        height: auto;
        margin-top: 0;
        width: 70%;
        margin-left: 2em
    }
    .temperatura {
        color: #6a6a6a!important;
        font-size: 5em!important;
        padding-top: .05em;
        padding-bottom: .1em
    }
    .termometro {
        float: left;
        height: auto;
        padding-left: 1em;
        margin-top: -20px;
        width: 3.5em
    }
    .temperatura-m {
        color: #007782!important;
        font-size: 2em!important;
        margin-top: -1em
    }
    .descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.5em!important;
        font-weight: 400;
        margin-top: .1em;
        padding: .15em 0;
        text-align: left
    }
    .estacao-descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.5em!important;
        font-weight: 400;
        margin-top: -.5em;
        text-align: center!important
    }
    .descricao-chuva {
        color: #767676!important;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400
    }
    .intensidade-chuva {
        color: #27808a!important;
        font-size: 1.7em!important;
        font-weight: 400;
        margin-right: 0;
        margin-left: -1em;
        padding: .1em 0;
        text-align: right
    }
    .unidade {
        color: #27808a!important;
        font-size: .6em!important;
        font-weight: 400;
        padding: .2em 0;
        text-align: right
    }
    .aviso {
        background-color: #808200;
        border-radius: .2em 0 0 .2em;
        color: #fff!important;
        font-size: 2em!important;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: .5em;
        display: inline;
        margin-right: -20px;
        padding: .25em 1em!important
    }
    .logo {
        display: inline;
        margin-top: 35px
    }
    .margin-top-desc {
        margin-top: 1em
    }
    .margin-top-max-min {
        margin-top: -2em
    }
    .margin-top-aviso {
        margin-top: 3em
    }
}

@media (min-width:650px) {
    .icone-situacao {
        height: auto;
        margin-top: 0;
        width: 70%;
        margin-left: 2em
    }
    .temperatura {
        color: #6a6a6a!important;
        font-size: 7em!important;
        padding-top: .05em;
        padding-bottom: .1em
    }
    .termometro {
        float: left;
        height: auto;
        padding-left: 1em;
        margin-top: -20px;
        width: 3.5em
    }
    .temperatura-m {
        color: #007782!important;
        font-size: 2.5em!important;
        margin-top: -1em
    }
    .descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 2em!important;
        font-weight: 400;
        margin-top: .1em;
        padding: .15em 0;
        text-align: left
    }
    .estacao-descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.5em!important;
        font-weight: 400;
        margin-top: -.5em;
        text-align: center!important
    }
    .descricao-chuva {
        color: #767676!important;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400
    }
    .intensidade-chuva {
        color: #27808a!important;
        font-size: 1.7em!important;
        font-weight: 400;
        margin-right: 0;
        margin-left: -1em;
        padding: .1em 0;
        text-align: right
    }
    .unidade {
        color: #27808a!important;
        font-size: .6em!important;
        font-weight: 400;
        padding: .2em 0;
        text-align: right
    }
    .aviso {
        background-color: #808200;
        border-radius: .2em 0 0 .2em;
        color: #fff!important;
        font-size: 2.5em!important;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: .5em;
        display: inline;
        margin-right: -20px;
        padding: .25em 1em!important
    }
    .logo {
        display: inline;
        margin-top: 35px
    }
    .margin-top-desc,
    .margin-top-max-min {
        margin-top: 1em
    }
    .margin-top-aviso {
        margin-top: 3em
    }
}

@media (min-width:699px) {
    .icone-situacao {
        height: auto;
        margin-top: 0;
        width: 85%;
        margin-left: 2em
    }
    .temperatura {
        color: #6a6a6a!important;
        font-size: 8em!important;
        padding-top: .05em;
        padding-bottom: .1em
    }
    .termometro {
        float: left;
        height: auto;
        padding-left: 1em;
        margin-top: -20px;
        width: 4em
    }
    .temperatura-m {
        color: #007782!important;
        font-size: 2.5em!important;
        margin-top: -1em
    }
    .descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 2em!important;
        font-weight: 400;
        margin-top: .1em;
        padding: .15em 0;
        text-align: left
    }
    .estacao-descricao {
        color: #63a7ad!important;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.5em!important;
        font-weight: 400;
        margin-top: -.5em;
        text-align: center!important
    }
    .descricao-chuva {
        color: #767676!important;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400
    }
    .intensidade-chuva {
        color: #27808a!important;
        font-size: 1.8em!important;
        font-weight: 400;
        margin-right: 0;
        margin-left: -1em;
        padding: .1em 0;
        text-align: right
    }
    .unidade {
        color: #27808a!important;
        font-size: .6em!important;
        font-weight: 400;
        padding: .2em 0;
        text-align: right
    }
    .aviso {
        background-color: #808200;
        border-radius: .2em 0 0 .2em;
        color: #fff!important;
        font-size: 3em!important;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: .5em;
        display: inline;
        margin-right: -20px;
        padding: .25em 1em!important
    }
    .logo {
        display: inline;
        margin-top: 35px
    }
    .margin-top-desc {
        margin-top: 1em
    }
    .margin-top-max-min {
        margin-top: 1.5em
    }
    .margin-top-aviso {
        margin-top: 3em
    }
}

@media (min-width:720px) {
    .margin-top-max-min {
        margin-top: 3em
    }
}